body{
    width:100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(30, 29, 29);
    color: white;
}

input{
  width: 65%;
  padding: 0.9% 1%;
  outline: none;
  border: solid 2px cyan;
  background-color: black;
  color: white;
  border-radius: 30px;
}

button{
    width: 14%;
    cursor: pointer;
    padding: 7px;
    background-color: rgba(0, 255, 255, 0.815);
    color: rgb(0, 0, 0);
    border-radius: 30px;
}